<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- 'viewport' (ventana de visualización) es el área visible del usuario de una página web.
		'width=device-width' establece el ancho de la página en relación fija con el ancho de la
		pantalla sin importar si cambia de dispositivo.
		'initial-scale=1.0' fija el nivel inicial del zoom cuando la página se carga por primera vez.-->
		<title>ExApMusUA</title>
		<link rel="stylesheet" type="text/css" href="../css/main.css">
		<script type="text/javascript" src="../js/main.js"></script>
</head>
<body>
	<div class="contenedor">
		<!-- Logo Facultad-->
		<div class="fila">
			<div class="col-12">
				<img id="im1" src="../grafs/LogoRojoFacultad.png">
			</div>
		</div>
		<!-- Encabezado Examen Aptitud Musical -->
		<div class="fila">
			<div class="col-2"></div>
			<div class="col-8"  style="padding-top:0px">
				<img id="im1" src="../grafs/LogoCompleto.png">
				<img id="im1" src="../grafs/TituloExApMus.png">
				<img id="im2" src="../grafs/RegPartes6.png">
			</div>
			<div class="col-2"></div>
		</div>

		<!-- Zona de usuario -->
		<div class="fila" id="zonat0">
			<div class="col-12"></div>
		</div>

		<div class="fila" id="zonat1">
			<div class="col-12"></div>
		</div>

		<div class="fila" id="zonat2">
			<div class="col-3"></div>
			<div class="col-6">
				<img id="im7" src="../grafs/FinExamen.png">
			</div>
			<div class="col-3"></div>
		</div>

		<div class="fila" id="zonat3">
			<div class="col-12"></div>
		</div>

		<div class="fila" id="zonat4">
			<div class="col-12"></div>
		</div>

		<div class="fila" id="zonat5">
			<div class="col-12"></div>
		</div>

		<div class="fila" id="zonat6">
			<div class="col-12"></div>
		</div>

		<div class="fila" id="zonat7">
			<div class="col-12"></div>
		</div>

		<!-- Cabezote inferior de página -->
		<div class="fila">

			<div class="col-2"></div>
			<div class="col-8"  style="padding-bottom:0px">
				<img id="im2" src="../grafs/PieNombreAspirante.png">
			</div>
			<div class="col-2"></div>
		
		</div>
		<div class="fila">

			<div class="col-12" style="padding-top:0px">
				<img id="im1" src="../grafs/PiePagina.png">
			</div>

		</div>


	</div>

</body>
</html>