<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- 'viewport' (ventana de visualización) es el área visible del usuario de una página web.
		'width=device-width' establece el ancho de la página en relación fija con el ancho de la
		pantalla sin importar si cambia de dispositivo.
		'initial-scale=1.0' fija el nivel inicial del zoom cuando la página se carga por primera vez.-->
		<title>ExApMusUA</title>
		<link rel="stylesheet" type="text/css" href="../css/main.css">
		<script type="text/javascript" src="../js/main.js"></script>
</head>
<body>
	<audio id="fileInterv">Este navegador no puede reproducir el audio de este examen.</audio>
	<div class="contenedor">
		<!-- Logo Facultad-->
		<div class="fila">
			<div class="col-12">
				<img id="im1" src="../grafs/LogoRojoFacultad.png">
			</div>
		</div>
		<!-- Encabezado Examen Aptitud Musical -->
		<div class="fila">
			<div class="col-2"></div>
			<div class="col-8"  style="padding-top:0px">
				<img id="im1" src="../grafs/LogoCompleto.png">
				<img id="im1" src="../grafs/TituloExApMus.png">
				<img id="im2" src="../grafs/RegPartes3.png">
			</div>
			<div class="col-2"></div>
		</div>

		<!-- Zona de usuario -->
		<div class="fila" id="zonat0">
			<div class="col-3"></div>
			<div class="col-6">
				<img id="im4" class="tit" src="../grafs/T2A.png">
			</div>
			<div class="col-3"></div>
		</div>

		<div class="fila" id="zonat1">
			<div class="col-12"></div>
		</div>

		<div class="fila" id="zonat2">
			<div class="col-4"></div>
			<div class="col-4" style="border: 1px solid #D0ECE7;">
				<img id="p0" class="punto" src="../grafs/PuntoB.png">
				<img id="p1" class="punto" src="../grafs/PuntoA.png" style="left: 27.5%">
				<img id="p2" class="punto" src="../grafs/PuntoA.png" style="left: 40%">
				<img id="p3" class="punto" src="../grafs/PuntoA.png" style="left: 52.5%">
				<img id="p4" class="punto" src="../grafs/PuntoA.png" style="left: 65%">
			</div>
			<div class="col-4"></div>
		</div>

		<div class="fila" id="zonat3">
			<div class="col-12"></div>
		</div>

		<div class="fila" id="zonat4">
			<div class="col-4"></div>
			<div class="col-2">
				<img id="play" src="../grafs/play1.png" onclick="enviarAudio()" onmouseenter="iluminar('play',0.9)" onmouseleave="iluminar('play',0.6)">
			</div>
			<div class="col-3">
				<img id="grab" src="../grafs/Grabando1.png" onclick="grabar()" onmouseenter="iluminar('grab',0.9)" onmouseleave="iluminar('grab',0.6)">
			</div>
			<div class="col-3"></div>
		</div>

		<div class="fila" id="zonat5">
			<div class="col-12"></div>
		</div>

		<div class="fila" id="zonat6">
			<div class="col-12"></div>
		</div>

		<div class="fila" id="zonat7">
			<div class="col-4"></div>
			<div class="col-4">
				<audio id="audio" controls></audio>
			</div>
			<div class="col-2">
				<img id="btn1" src="../grafs/continuar.jpg" onclick="cambiarAudio()">
			</div>
			<div class="col-2"></div>
		</div>

		<!-- Cabezote inferior de página -->
		<div class="fila">

			<div class="col-2"></div>
			<div class="col-8"  style="padding-bottom:0px">
				<img id="im2" src="../grafs/PieNombreAspirante.png">
			</div>
			<div class="col-2"></div>
		
		</div>
		<div class="fila">

			<div class="col-12" style="padding-top:0px">
				<img id="im1" src="../grafs/PiePagina.png">
			</div>

		</div>

	</div>
	<script type="text/javascript">
		//=========================== Captura y grabación de los datos de audio ======================//
		window.onload = function () {
			// En esta implemntación se supone que el navegador no tiene conflictos con 'getUserMedia'.
			// Como es una implementación relativamente nueva solo funciona en versiones modernas de algunos navegadores.
			// Obtiene los datos de audio del micrófono del computador, si el usuario lo autoriza. 
			navigator.mediaDevices.getUserMedia({
		    	audio: true
			})
		    .then(function (stream) {
		  		// En esta variable captura los datos de audio
		    	recorder = new MediaRecorder(stream);
		    	// listen to dataavailable, which gets triggered whenever we have
    			// an audio blob available
    			recorder.addEventListener('dataavailable', escucharGrabacion);
		  	});
		}
		function inicarGrabacion() {
		  recorder.start();
		}

		function detenerGrabacion() {
		 // Al detener la grabación del audio, se diapara el evento `dataavailable` el cual permite completar el proceso de grabación.
		  recorder.stop();
		}

		function escucharGrabacion(e) {
		  var audio = document.getElementById('audio');
		  // e.data contiene un objeto 'blob' con los datos del audio
		  audio.src = URL.createObjectURL(e.data);
		  audio.play();
		}
		
		//===========================================================================================//

		var listaAudios = [["Do.mp3","Fa.mp3","Mi.mp3","Re.mp3","Si.mp3"],["1 3aM.mp3","2 3am.mp3","3 2aM.mp3","4 2am.mp3","5 4aJ.mp3"],["1 Mayor1-5.mp3","2 menor1-5.mp3","3 TE1-4.mp3","4 TE1-5.mp3","5 TE1-6.mp3"],["1 Mayor.mp3","2 menor.mp3","3 Aumentado.mp3","4 Dismi.mp3","5 D7.mp3"]];
		var rutaAudio = ["../audios/2Entonación/1Notas sueltas/","../audios/2Entonación/2Intervalos/","../audios/2Entonación/3Escalas/","../audios/2Entonación/4Arpegios/"];
		var listaGrafsTemas = ["../grafs/T2A.png","../grafs/T2B.png","../grafs/T2C.png","../grafs/T2D.png"];
		var indexGrupo = 0;
		var index = 0;
		var audio = rutaAudio[indexGrupo] + listaAudios[indexGrupo][index];
		var son = document.getElementById("fileInterv");
		var marcaEjercicio = [1,0,0,0,0];
		son.addEventListener('ended', function () {
    		document.getElementById("play").src = "../grafs/play1.png";
    		document.getElementById("grab").style.display = 'block';
			}, false);
		function enviarAudio(){
			document.getElementById("grab").style.display = 'none';
			tocaAudio(audio);
		}
		function cambiarAudio(){
			if (marcaEjercicio[index] < 2) {
				marcaEjercicio[index] = 2;
			};
			console.log("Ejercicio: " + index + " Grupo: " + indexGrupo);
			if (index < listaAudios[indexGrupo].length - 1) {
				document.getElementById("grab").style.display = 'none';
				document.getElementById("btn1").style.display = 'none';
				index++;
				sumaUno(index, marcaEjercicio);
				audio = rutaAudio[indexGrupo] + listaAudios[indexGrupo][index];
				console.log(audio);
			} else if(index >= listaAudios[indexGrupo].length - 1 && indexGrupo < listaAudios.length - 1){
				document.getElementById("grab").style.display = 'none';
				document.getElementById("btn1").style.display = 'none';
				index = 0;
				indexGrupo ++;
				document.getElementById("im4").src = listaGrafsTemas[indexGrupo];
				audio = rutaAudio[indexGrupo] + listaAudios[indexGrupo][index];
				marcaEjercicio = [0,0,0,0,0];
				sumaUno(index, marcaEjercicio);
			} else{
				avanzar('index3.html');
			};
		}
	</script>

</body>
</html>